<div id="feedbacklist">

<% if @active_feedbacks.length == 0 %>
<div class="feedbackrow">
  <h3>All feedback dealt with (of <%=Feedback.count%> entries)!</h3>
</div>
<% else %>
<% status_line = "#{@active_feedbacks.first.id} to #{@active_feedbacks.last.id}, #{@active_feedbacks.length} of #{Feedback.count} entries, #{@count_left} left" %>
<% title "GdriveCrm: #{status_line}" %>
<div class="feedbackrow">
  <h3><%=status_line%></h3>
  <%= form_tag do %>
  <%= hidden_field_tag "last_feedback_id", @last_feedback_id %>
  <table>
    <tr>
      <th>Status</th>
    <% GDRIVE_CRM_MAJOR_COLS.each do |col| %>
      <th><%=header(col)%></th>
    <% end %>
    <%
    count = 1
    @active_feedbacks.each do |active_feedback|
      dupes = controller.generate_other_feedback(active_feedback)
      dupe_index = 1
      dupes.each_index do |i|
        dupe = dupes[i]
        if dupe[:id] == active_feedback.id
          dupe_index = i+1
          break
        end
      end
      links = dupes.map do |dupe|
        link_to "#{dupe[:id]} (#{dupe[:status]==GDRIVE_CRM_DUPLICATE_STATUS ? dupe[:status][0]:dupe[:status]}#{dupe[:email_sent]})", { action: "index", id: dupe[:id] }, :target =>  "_blank", :class => (( dupe[:id] == active_feedback.id ? "active":"")+(dupe[:email_failed]?"emailfailed":"")), :onmouseup => "if (window.lastselect) window.lastselect.focus()"
      end
    %>
    <tr class="<%=count % 2 == 0 ? 'even' : 'odd'%>">
      <td class="statusrow"><%=active_feedback.id%>
        (<%=dupe_index%> from (<%=raw(links.join(", "))%>)
        <br><%= select_tag "status[#{active_feedback.id}]", options_for_select(([["",""]].concat(GDRIVE_CRM_POSSIBLE_STATUSES.map { |a| [a,a]})), active_feedback.status), "onblur" => "window.lastselect = this" %>
      </td>
      <% GDRIVE_CRM_MAJOR_COLS.each do |col|
        val = active_feedback.value_for_column(col).to_s
        htmlLink = generate_link(val) if GDRIVE_CRM_LINK_COLS.index(col)
        htmlLink = raw("<br>#{htmlLink}") if htmlLink and htmlLink.length > 0
      %>
        <td><%=text_tag_for_size( calculate_size(val,20), val, max: { cols: 20} ) %><%=htmlLink%></td>
      <% end %>
    </tr>
    <tr class="<%=count % 2 == 0 ? 'even' : 'odd'%>">
      <td colspan="<%=1+GDRIVE_CRM_MAJOR_COLS.length%>">
        <dl>
        <%
          for col in 1..ColumnTitle.maximum(:column)
            next if GDRIVE_CRM_MAJOR_COLS.index(col)
            next if col == GDRIVE_CRM_STATUS_COL
            %><dt><%=header(col)%></dt><dd><%=active_feedback.value_for_column(col)%></dd><%
          end
        %>
        </dl>
      </td>
    </tr>
    <%
      count += 1
    end
    %>
  </table>
  <div class="actions">
    <ul>
      <li><%=button_to "Save Changes", :method => :post%></li>
    </ul>
  </div>
  <% end %>
<% end %>
</div>
  <div class="generalactions">
    <ul>
      <li><%=button_to "Reset Active Row", :reset_feedback => "yes", :method => :post%></li>
      <li><%=button_to "Reload Spreadsheet", :action => "reload", :method => :post, :source => "list" %></li>
      <li><%=button_to "Show Last Page", :show => "lastpage", :method => :post%></li>
    </ul>
  </div>

</div>
