<div id="feedbacklist">

<% if @active_rows.length == 0 %>
<div class="feedbackrow">
  <h3>All feedback dealt with (of <%=@worksheet.num_rows%> entries)!</h3>
</div>
<% else %>
<div class="feedbackrow">
  <h3><%=@active_rows.first%> to <%=@active_rows.last%>, <%=@active_rows.length%> of <%=@worksheet.num_rows%> entries</h3>
  <%= form_tag do %>
  <%= hidden_field_tag "last_row", @last_row %>
  <table>
    <tr>
      <th>Status</th>
    <% GDRIVE_CRM_MAJOR_COLS.each do |col| %>
      <th><%=header(col)%></th>
    <% end %>
    <%
    count = 1
    @active_rows.each do |active_row|
      id_key = controller.generate_id_key(active_row)
      dupes = @dupe_hash[id_key]
      dupe_index = 1
      dupes.each_index do |i|
        dupe = dupes[i]
        if dupe[:row] == active_row
          dupe_index = i+1
          break
        end
      end
      links = dupes.map do |row|
        link_to "#{row[:row]} (#{row[:status]==GDRIVE_CRM_DUPLICATE_STATUS ? row[:status][0]:row[:status]}#{row[:email_sent]})", { action: "index", row: row[:row] }, :target =>  "_blank", :class => (( row[:row] == active_row ? "active":"")+(row[:email_failed]?"emailfailed":"")), :onmouseup => "if (window.lastselect) window.lastselect.focus()"
      end
    %>
    <tr class="<%=count % 2 == 0 ? 'even' : 'odd'%>">
      <td class="statusrow"><%=active_row%>
        (<%=dupe_index%> from (<%=raw(links.join(", "))%>)
        <br><%= select_tag "status[#{active_row}]", options_for_select(([["",""]].concat(GDRIVE_CRM_POSSIBLE_STATUSES.map { |a| [a,a]})), @worksheet[active_row,GDRIVE_CRM_STATUS_COL]), "onblur" => "window.lastselect = this" %>
      </td>
      <% GDRIVE_CRM_MAJOR_COLS.each do |col|
        val = @worksheet[active_row,col]
        htmlLink = generate_link(val) if GDRIVE_CRM_LINK_COLS.index(col)
        htmlLink = raw("<br>#{htmlLink}") if htmlLink and htmlLink.length > 0
      %>
        <td><%=text_tag_for_size( calculate_size(val,20), val, max: { cols: 20} ) %><%=htmlLink%></td>
      <% end %>
    </tr>
    <tr class="<%=count % 2 == 0 ? 'even' : 'odd'%>">
      <td colspan="<%=1+GDRIVE_CRM_MAJOR_COLS.length%>">
        <dl>
        <%
          for col in 1..@worksheet.num_cols
            next if GDRIVE_CRM_MAJOR_COLS.index(col)
            next if col == GDRIVE_CRM_STATUS_COL
            %><dt><%=header(col)%></dt><dd><%=@worksheet[active_row,col]%></dd><%
          end
        %>
        </dl>
      </td>
    </tr>
    <%
      count += 1
    end
    %>
  </table>
  <div class="actions">
    <ul>
      <li><%=button_to "Save Changes", :method => :post%></li>
    </ul>
  </div>
  <% end %>
<% end %>
</div>
  <div class="generalactions">
    <ul>
      <li><%=button_to "Reset Active Row", :reset_row => "yes", :method => :post%></li>
      <li><%=button_to "Reload Spreadsheet", :action => "reload", :method => :post%></li>
      <li><%=button_to "Show Last Page", :show => "lastpage", :method => :post%></li>
    </ul>
  </div>

</div>
