<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : 'GdriveCrm' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice.html_safe unless notice.nil? %></p>
  <p class="alert"><%= alert.html_safe unless alert.nil? %></p>

  <ul class="nav">
    <li><%=link_to "Home", root_path %></li>
    <li><%=link_to "Search", feedback_search_path %></li>
  </ul>

<%= yield %>

</body>
</html>
